/* General responsive styles */
ol.steps {
  padding: 0;
  position: relative;
  counter-reset: section-number;
}

ol.steps li {
  counter-increment: section-number;
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  gap: 1rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &::before {
    content: counter(section-number);
    order: 2;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(235 244 255);
    background: linear-gradient(to bottom, blue 25vw, #ebf4ff 0%) fixed;
  }
}

ol.steps::after {
  content: "";
  display: inline-block;
  height: calc(100% + 1rem);
  width: 4px;
  margin-top: -30px;
  background: linear-gradient(to bottom, blue 25vw, #9dceff 0%) fixed;
  position: absolute;
  margin-left: 70px;
  top: 1rem;
}

/* Adjusting blocks */
.block {
  padding: 1rem;
}

.block--left {
  order: 1;
}

.block--right {
  order: 3;
}

/* Text section */
.tt {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #004ca2;
}

.hh {
  background: #e6f1ff;
  position: relative;
  /* padding: 1rem; */
}

.hh::before {
  content: "";
  background: linear-gradient(75deg, #e9f3ff, #9dceff);
  position: absolute;
  transform: rotate(20deg);
}

/* Media Queries */
@media (min-width: 768px) {
  .tt {
    width: 75%;
  }

  ol.steps li {
    grid-template-columns: 1fr 2rem 1fr;
  }

  .block--left,
  .block--right {
    padding: 1rem;
  }
  
}

@media (min-width: 1024px) {
  .tt {
    width: 55%;
  }

  ol.steps li {
    grid-template-columns: 2fr 2rem 3fr;
  }

  .block--left,
  .block--right {
    padding: 2rem;
  }

  
}


/* @media (max-width:500px){
  li{
    margin-left: 50px;
  }
} */


/* Added styles for screens smaller than 767px */
@media (max-width: 767px) {
  ol.steps li {
    grid-template-columns: 1fr;
    margin-left: 25px;
  }

  ol.steps li::before {
    display: none;
  }

  .block--left {
    display: none;
  }

  .block--right {
    grid-column: span 3;
  }
  ol.steps::after {
    margin-left: 30px;
  }
}

/* Image responsiveness */
img {
  max-width: 100%;
  height: auto;
}
